In [2]:
import json
import os
import pandas as pd
import datetime as dt

In [8]:
dic = {
    'Auvergne-Rhône-Alpes': ['01', '03', '07', '15', '26', '38', '42', '43', '63', '69', '73', '74'],
    'Bourgogne-Franche-Comté': ['21', '25', '39', '58', '70', '71', '89', '90'],
    'Bretagne': ['35', '22', '56', '29'],
    'Centre-Val de Loire': ['18', '28', '36', '37', '41', '45'],
    'Corse': ['2A', '2B'],
    'Grand Est': ['08', '10', '51', '52', '54', '55', '57', '67', '68', '88'],
    'Guadeloupe': ['971'],
    'Guyane': ['973'],
    'Hauts-de-France': ['02', '59', '60', '62', '80'],
    'Île-de-France': ['75', '77', '78', '91', '92', '93', '94', '95'],
    'La Réunion': ['974'],
    'Martinique': ['972'],
    'Normandie': ['14', '27', '50', '61', '76'],
    'Nouvelle-Aquitaine': ['16', '17', '19', '23', '24', '33', '40', '47', '64', '79', '86', '87'],
    'Occitanie': ['09', '11', '12', '30', '31', '32', '34', '46', '48', '65', '66', '81', '82'],
    'Pays de la Loire': ['44', '49', '53', '72', '85'],
    'Provence-Alpes-Côte d\'Azur': ['04', '05', '06', '13', '83', '84'],
    'Outre-mer': ['971', '972', '973', '974', '975', '976', '977', '978']
}

In [11]:
fname = 'reg2dep.json'
with open(fname, 'w') as outfile:
    outfile.write(json.dumps(dic))

In [12]:
fname = 'reg2dep.json'
with open(fname, 'r') as file:
    reg2dep = json.loads(file.read())
reg2dep['Corse']

['2A', '2B']

In [13]:
regions = list(reg2dep.keys())
regions[0]

'Auvergne-Rhône-Alpes'

In [14]:
dep2reg = {}
for reg in regions:
    for dep in reg2dep[reg]:
        dep2reg[dep] = reg
dep2reg['01']

'Auvergne-Rhône-Alpes'

In [15]:
fname = 'dep2reg.json'
with open(fname, 'w') as outfile:
    outfile.write(json.dumps(dep2reg))

In [2]:
fname = './INSEE/region2020.csv'
d = pd.read_csv(fname)
d

,reg,cheflieu,tncc,ncc,nccenr,libelle
0,1,97105,3,GUADELOUPE,Guadeloupe,Guadeloupe
1,2,97209,3,MARTINIQUE,Martinique,Martinique
2,3,97302,3,GUYANE,Guyane,Guyane
3,4,97411,0,LA REUNION,La Réunion,La Réunion
4,6,97608,0,MAYOTTE,Mayotte,Mayotte
5,11,75056,1,ILE DE FRANCE,Île-de-France,Île-de-France
6,24,45234,2,CENTRE VAL DE LOIRE,Centre-Val de Loire,Centre-Val de Loire
7,27,21231,0,BOURGOGNE FRANCHE COMTE,Bourgogne-Franche-Comté,Bourgogne-Franche-Comté
8,28,76540,0,NORMANDIE,Normandie,Normandie
9,32,59350,4,HAUTS DE FRANCE,Hauts-de-France,Hauts-de-France
10,44,67482,2,GRAND EST,Grand Est,Grand Est
11,52,44109,4,PAYS DE LA LOIRE,Pays de la Loire,Pays de la Loire
12,53,35238,0,BRETAGNE,Bretagne,Bretagne
13,75,33063,3,NOUVELLE AQUITAINE,Nouvelle-Aquitaine,Nouvelle-Aquitaine
14,76,31555,1,OCCITANIE,Occitanie,Occitanie
15,84,69123,1,AUVERGNE RHONE ALPES,Auvergne-Rhône-Alpes,Auvergne-Rhône-Alpes
16,93,13055,0,PROVENCE ALPES COTE D AZUR,Provence-Alpes-Côte d'Azur,Provence-Alpes-Côte d'Azur
17,94,2A004,0,CORSE,Corse,Corse

In [6]:
dic = {}
for i in range(len(d)):
    dic[str(d.reg[i])]=d.libelle[i]

In [7]:
dic

{'1': 'Guadeloupe',
 '2': 'Martinique',
 '3': 'Guyane',
 '4': 'La Réunion',
 '6': 'Mayotte',
 '11': 'Île-de-France',
 '24': 'Centre-Val de Loire',
 '27': 'Bourgogne-Franche-Comté',
 '28': 'Normandie',
 '32': 'Hauts-de-France',
 '44': 'Grand Est',
 '52': 'Pays de la Loire',
 '53': 'Bretagne',
 '75': 'Nouvelle-Aquitaine',
 '76': 'Occitanie',
 '84': 'Auvergne-Rhône-Alpes',
 '93': "Provence-Alpes-Côte d'Azur",
 '94': 'Corse'}

In [8]:
reg_name = dic

In [9]:
fname = 'reg_name.json'
with open(fname, 'w') as outfile:
    outfile.write(json.dumps(reg_name))

### Population

In [21]:
fname_temp = '../Temp/sp-pos-quot-dep-2021-04-03-19h33'
fname = fname_temp + '-tot-3C.csv'
d = pd.read_csv(fname, 
                sep = ';', 
                parse_dates = ['jour'], 
                dtype = {'P': int, 'T': int},
                skiprows = [1])
d.tail(3)

               entity three_class       jour      P       T         pop
153744  Île-de-France       30-59 2021-03-31   6109   55886   4968295.0
153745  Île-de-France         60+ 2021-03-31   1488   15154   2517033.0
153746  Île-de-France       whole 2021-03-31  12979  131497  12278210.0

In [22]:
d = d[ d['jour'] == dt.datetime(2021, 3, 29)]

In [23]:
regs = d['entity'].unique()
three_class = d['three_class'].unique()

In [24]:
reg_3C_pop = {}
for reg in regs:
    reg_3C_pop[reg] = {}
    for _class in three_class:
        reg_3C_pop[reg][_class] = int(d
                                   [(d['entity'] == reg)
                                   & (d['three_class'] == _class)
                                    ]
                                   ['pop'])
reg_3C_pop

{'01': {'0-29': 233162, '30-59': 265057, '60+': 158736, 'whole': 656955},
 '02': {'0-29': 181295, '30-59': 197763, '60+': 146992, 'whole': 526050},
 '03': {'0-29': 94800, '30-59': 118653, '60+': 117862, 'whole': 331315},
 '04': {'0-29': 47550, '30-59': 60968, '60+': 56679, 'whole': 165197},
 '05': {'0-29': 41995, '30-59': 53829, '60+': 45932, 'whole': 141756},
 '06': {'0-29': 332679, '30-59': 409246, '60+': 337471, 'whole': 1079396},
 '07': {'0-29': 96850, '30-59': 122997, '60+': 107028, 'whole': 326875},
 '08': {'0-29': 85646, '30-59': 101020, '60+': 78865, 'whole': 265531},
 '09': {'0-29': 43700, '30-59': 56230, '60+': 52468, 'whole': 152398},
 '10': {'0-29': 107678, '30-59': 114529, '60+': 87700, 'whole': 309907},
 '11': {'0-29': 109430, '30-59': 136313, '60+': 126962, 'whole': 372705},
 '12': {'0-29': 78243, '30-59': 101784, '60+': 98333, 'whole': 278360},
 '13': {'0-29': 710300, '30-59': 776651, '60+': 547518, 'whole': 2034469},
 '14': {'0-29': 237080, '30-59': 252920, '60+': 201453, 'whole': 691453},
 '15': {'0-29': 37394, '30-59': 52528, '60+': 52889, 'whole': 142811},
 '16': {'0-29': 103458, '30-59': 128407, '60+': 116315, 'whole': 348180},
 '17': {'0-29': 183823, '30-59': 230945, '60+': 232312, 'whole': 647080},
 '18': {'0-29': 87574, '30-59': 108464, '60+': 100366, 'whole': 296404},
 '19': {'0-29': 68716, '30-59': 86672, '60+': 84948, 'whole': 240336},
 '21': {'0-29': 187079, '30-59': 197382, '60+': 148425, 'whole': 532886},
 '22': {'0-29': 179086, '30-59': 214063, '60+': 203037, 'whole': 596186},
 '23': {'0-29': 29443, '30-59': 41113, '60+': 45714, 'whole': 116270},
 '24': {'0-29': 107442, '30-59': 146591, '60+': 154360, 'whole': 408393},
 '25': {'0-29': 195833, '30-59': 202373, '60+': 141243, 'whole': 539449},
 '26': {'0-29': 173066, '30-59': 196800, '60+': 150694, 'whole': 520560},
 '27': {'0-29': 207302, '30-59': 234082, '60+': 159303, 'whole': 600687},
 '28': {'0-29': 145614, '30-59': 164794, '60+': 119017, 'whole': 429425},
 '29': {'0-29': 291361, '30-59': 337136, '60+': 278057, 'whole': 906554},
 '2A': {'0-29': 45883, '30-59': 65969, '60+': 50569, 'whole': 162421},
 '2B': {'0-29': 56033, '30-59': 70830, '60+': 55395, 'whole': 182258},
 '30': {'0-29': 240726, '30-59': 279798, '60+': 227944, 'whole': 748468},
 '31': {'0-29': 539419, '30-59': 553435, '60+': 308081, 'whole': 1400935},
 '32': {'0-29': 51482, '30-59': 70044, '60+': 68514, 'whole': 190040},
 '33': {'0-29': 583909, '30-59': 636855, '60+': 412676, 'whole': 1633440},
 '34': {'0-29': 412066, '30-59': 435285, '60+': 328794, 'whole': 1176145},
 '35': {'0-29': 408447, '30-59': 415285, '60+': 258341, 'whole': 1082073},
 '36': {'0-29': 60811, '30-59': 76938, '60+': 79390, 'whole': 217139},
 '37': {'0-29': 207312, '30-59': 225115, '60+': 172953, 'whole': 605380},
 '38': {'0-29': 462200, '30-59': 488885, '60+': 313894, 'whole': 1264979},
 '39': {'0-29': 80151, '30-59': 97073, '60+': 80625, 'whole': 257849},
 '40': {'0-29': 117790, '30-59': 158040, '60+': 136149, 'whole': 411979},
 '41': {'0-29': 100935, '30-59': 120994, '60+': 105906, 'whole': 327835},
 '42': {'0-29': 266546, '30-59': 278180, '60+': 220011, 'whole': 764737},
 '43': {'0-29': 68752, '30-59': 85058, '60+': 73091, 'whole': 226901},
 '44': {'0-29': 531273, '30-59': 558131, '60+': 347733, 'whole': 1437137},
 '45': {'0-29': 245097, '30-59': 257213, '60+': 180580, 'whole': 682890},
 '46': {'0-29': 44797, '30-59': 60962, '60+': 67407, 'whole': 173166},
 '47': {'0-29': 98425, '30-59': 119986, '60+': 111925, 'whole': 330336},
 '48': {'0-29': 22585, '30-59': 28147, '60+': 25554, 'whole': 76286},
 '49': {'0-29': 293749, '30-59': 299434, '60+': 222698, 'whole': 815881},
 '50': {'0-29': 149117, '30-59': 179458, '60+': 162094, 'whole': 490669},
 '51': {'0-29': 204890, '30-59': 211753, '60+': 147180, 'whole': 563823},
 '52': {'0-29': 50950, '30-59': 62248, '60+': 56052, 'whole': 169250},
 '53': {'0-29': 103116, '30-59': 112210, '60+': 90039, 'whole': 305365},
 '54': {'0-29': 264854, '30-59': 273994, '60+': 191550, 'whole': 730398},
 '55': {'0-29': 57443, '30-59': 68269, '60+': 55929, 'whole': 181641},
 '56': {'0-29': 231049, '30-59': 278704, '60+': 245813, 'whole': 755566},
 '57': {'0-29': 340828, '30-59': 411344, '60+': 283694, 'whole': 1035866},
 '58': {'0-29': 53680, '30-59': 69421, '60+': 76495, 'whole': 199596},
 '59': {'0-29': 1005422, '30-59': 981892, '60+': 601674, 'whole': 2588988},
 '60': {'0-29': 301721, '30-59': 327864, '60+': 195492, 'whole': 825077},
 '61': {'0-29': 83751, '30-59': 98601, '60+': 94551, 'whole': 276903},
 '62': {'0-29': 522280, '30-59': 555423, '60+': 375075, 'whole': 1452778},
 '63': {'0-29': 222772, '30-59': 247422, '60+': 190046, 'whole': 660240},
 '64': {'0-29': 208299, '30-59': 261406, '60+': 213464, 'whole': 683169},
 '65': {'0-29': 64264, '30-59': 82277, '60+': 80298, 'whole': 226839},
 '66': {'0-29': 145044, '30-59': 172592, '60+': 161364, 'whole': 479000},
 '67': {'0-29': 399593, '30-59': 444563, '60+': 288451, 'whole': 1132607},
 '68': {'0-29': 253913, '30-59': 303342, '60+': 205949, 'whole': 763204},
 '69': {'0-29': 745524, '30-59': 711677, '60+': 418850, 'whole': 1876051},
 '70': {'0-29': 71915, '30-59': 88665, '60+': 72614, 'whole': 233194},
 '71': {'0-29': 163376, '30-59': 199934, '60+': 184514, 'whole': 547824},
 '72': {'0-29': 190889, '30-59': 204725, '60+': 164613, 'whole': 560227},
 '73': {'0-29': 142034, '30-59': 169742, '60+': 120772, 'whole': 432548},
 '74': {'0-29': 292071, '30-59': 348598, '60+': 187736, 'whole': 828405},
 '75': {'0-29': 792882, '30-59': 869271, '60+': 486118, 'whole': 2148271},
 '76': {'0-29': 446016, '30-59': 463017, '60+': 334755, 'whole': 1243788},
 '77': {'0-29': 557352, '30-59': 574493, '60+': 291762, 'whole': 1423607},
 '78': {'0-29': 543417, '30-59': 578277, '60+': 326931, 'whole': 1448625},
 '79': {'0-29': 117528, '30-59': 140021, '60+': 115078, 'whole': 372627},
 '80': {'0-29': 205711, '30-59': 212205, '60+': 151853, 'whole': 569769},
 '81': {'0-29': 117950, '30-59': 143783, '60+': 126165, 'whole': 387898},
 '82': {'0-29': 86530, '30-59': 100406, '60+': 75682, 'whole': 262618},
 '83': {'0-29': 319301, '30-59': 397118, '60+': 357417, 'whole': 1073836},
 '84': {'0-29': 186896, '30-59': 211169, '60+': 162932, 'whole': 560997},
 '85': {'0-29': 212122, '30-59': 252097, '60+': 218968, 'whole': 683187},
 '86': {'0-29': 152821, '30-59': 157001, '60+': 127576, 'whole': 437398},
 '87': {'0-29': 117309, '30-59': 133821, '60+': 119644, 'whole': 370774},
 '88': {'0-29': 108776, '30-59': 133280, '60+': 117464, 'whole': 359520},
 '89': {'0-29': 102060, '30-59': 123065, '60+': 106971, 'whole': 332096},
 '90': {'0-29': 48923, '30-59': 53162, '60+': 38060, 'whole': 140145},
 '91': {'0-29': 524231, '30-59': 524375, '60+': 270795, 'whole': 1319401},
 '92': {'0-29': 610171, '30-59': 670166, '60+': 333425, 'whole': 1613762},
 '93': {'0-29': 707322, '30-59': 684201, '60+': 278626, 'whole': 1670149},
 '94': {'0-29': 548476, '30-59': 569447, '60+': 288118, 'whole': 1406041},
 '95': {'0-29': 509031, '30-59': 498065, '60+': 241258, 'whole': 1248354},
 '971': {'0-29': 125175, '30-59': 146601, '60+': 105103, 'whole': 376879},
 '972': {'0-29': 108501, '30-59': 139918, '60+': 110330, 'whole': 358749},
 '973': {'0-29': 161102, '30-59': 101385, '60+': 28204, 'whole': 290691},
 '974': {'0-29': 354358, '30-59': 343780, '60+': 161821, 'whole': 859959},
 '975': {'0-29': 1902, '30-59': 2759, '60+': 1334, 'whole': 5997},
 '976': {'0-29': 186908, '30-59': 80597, '60+': 11966, 'whole': 279471},
 '977': {'0-29': 3474, '30-59': 5108, '60+': 1379, 'whole': 9961},
 '978': {'0-29': 15451, '30-59': 15252, '60+': 4629, 'whole': 35334},
 'Auvergne-Rhône-Alpes': {'0-29': 2835171,
  '30-59': 3085597,
  '60+': 2111609,
  'whole': 8032377},
 'Bourgogne-Franche-Comté': {'0-29': 903017,
  '30-59': 1031075,
  '60+': 848947,
  'whole': 2783039},
 'Bretagne': {'0-29': 1109943,
  '30-59': 1245188,
  '60+': 985248,
  'whole': 3340379},
 'Centre-Val de Loire': {'0-29': 847343,
  '30-59': 953518,
  '60+': 758212,
  'whole': 2559073},
 'Corse': {'0-29': 101916, '30-59': 136799, '60+': 105964, 'whole': 344679},
 'France entière': {'0-29': 23576479,
  '30-59': 25680932,
  '60+': 17857583,
  'whole': 67114995},
 'Grand Est': {'0-29': 1874571,
  '30-59': 2124342,
  '60+': 1512834,
  'whole': 5511747},
 'Hauts-de-France': {'0-29': 2216429,
  '30-59': 2275147,
  '60+': 1471086,
  'whole': 5962662},
 'Normandie': {'0-29': 1123266,
  '30-59': 1228078,
  '60+': 952156,
  'whole': 3303500},
 'Nouvelle-Aquitaine': {'0-29': 1888963,
  '30-59': 2240858,
  '60+': 1870161,
  'whole': 5999982},
 'Occitanie': {'0-29': 1956236,
  '30-59': 2221056,
  '60+': 1747566,
  'whole': 5924858},
 'Outre-mer': {'0-29': 956872,
  '30-59': 835401,
  '60+': 424767,
  'whole': 2217041},
 'Pays de la Loire': {'0-29': 1331149,
  '30-59': 1426597,
  '60+': 1044051,
  'whole': 3801797},
 "Provence-Alpes-Côte d'Azur": {'0-29': 1638721,
  '30-59': 1908981,
  '60+': 1507949,
  'whole': 5055651},
 'Île-de-France': {'0-29': 4792882,
  '30-59': 4968295,
  '60+': 2517033,
  'whole': 12278210}}

In [25]:
dg = d.groupby(['three_class']).agg([sum])
dg

,entity,P,T,pop
,sum,sum,sum,sum
three_class,,,,
0-29,0102030405060708091011121314151617181921222324...,65847,836514,7.072944e+07
30-59,0102030405060708091011121314151617181921222324...,81162,821742,7.704280e+07
60+,0102030405060708091011121314151617181921222324...,28650,396285,5.357275e+07
whole,0102030405060708091011121314151617181921222324...,175725,2055174,2.013450e+08

In [26]:
dg = (dg.reset_index()
      .drop(columns = ['entity'])
            )
dg

/home/edmz/snap/jupyter/common/lib/python3.7/site-packages/pandas/core/generic.py:4152: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

  three_class       P        T           pop
                  sum      sum           sum
0        0-29   65847   836514  7.072944e+07
1       30-59   81162   821742  7.704280e+07
2         60+   28650   396285  5.357275e+07
3       whole  175725  2055174  2.013450e+08

In [27]:
fname = 'reg_3C_pop.json'
with open(fname, 'w') as outfile:
    outfile.write(json.dumps(reg_3C_pop))

In [1]:
kwargs_1 = {}
kwargs_1["incidence hebdo"] = {
    'ymin': -40,
    'ymax': 1190,
    'main_color': "darkturquoise",
    'title': 'Cas positifs par semaine\npour 100 000 personnes',
    'fname_extension': "-incidence",
}
kwargs_1["taux de test hebdo"] = {
    'ymin': -400,
    'ymax': 11900,
    'main_color': "gray",
    'title': 'Tests pratiqués par semaine\npour 100 000 personnes',
    'fname_extension': "-tests",
}

kwargs_1["positivite hebdo"] = {
    'ymin': -4,
    'ymax': 29,
    'main_color': "olivedrab",
    'title': 'Tests positifs hebdomadaire\n(%)',
    'fname_extension': "-positivite",
}

kwargs_1["taux hosp"] = {
    'ymin': -15,
    'ymax': 379,
    'main_color': "mediumseagreen",
    'title': 'Patients hospitalisés\npour 100 000 personnes',
    'fname_extension': "-hosp",
}

kwargs_1["taux rea"] = {
    'ymin': -3,
    'ymax': 79,
    'main_color': "darksalmon",
    'title': 'Patients en réanimation\npour 100 000 personnes',
    'fname_extension': "-rea",
}

kwargs_1["taux décès"] = {
    'ymin': -3,
    'ymax': 79,
    'main_color': "orchid",
    'title': 'Décès à l\'hôpital par semaine\npour 100 000 personnes)',
    'fname_extension': "-deces",
}

kwargs_1["taux dose 1"] = {
    'ymin': -10_000,
    'ymax': 119_000,
    'main_color': "silver",
    'title': 'Personnes vaccinées (au moins une dose)\npour 100 000 personnes)',
    'fname_extension': "-dose1",
}

kwargs_1["taux dose 2"] = {
    'ymin': -10_000,
    'ymax': 119_000,
    'main_color': "gold",
    'title': 'Personnes vaccinées (deux doses)\npour 100 000 personnes)',
    'fname_extension': "-dose2",
}

In [3]:
fname = 'graph_options.json'
with open(fname, 'w') as outfile:
    outfile.write(json.dumps(kwargs_1))