In [1]:
%matplotlib inline

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import time
import json

In [2]:
fname = 'sp-pos-quot-dep-2021-03-28-19h20-reg.csv'
d = pd.read_csv(fname, 
                sep = ';', 
                parse_dates = ['jour'], 
                dtype = {'P': int, 'T': int},
                skiprows = [1])
d.sample(3)

                       reg       jour  cl_age90   P     T        pop
24812            Normandie 2020-06-18        69   2   170   428446.0
45721        Île-de-France 2020-06-17        49  27  1196  1671811.0
12821  Centre-Val de Loire 2020-12-13        59  11   141   340563.0

In [3]:
dg = (d.groupby(['jour', 'cl_age90'])
      .agg([sum])
      .drop(columns = ['reg'])
      .reset_index()
     )
dg

           jour cl_age90     P      T           pop
                           sum    sum           sum
0    2020-05-13        0   889  39317  6.711500e+07
1    2020-05-13        9    13   1276  7.763206e+06
2    2020-05-13       19    28   1675  8.336486e+06
3    2020-05-13       29   103   4622  7.476787e+06
4    2020-05-13       39   106   5677  8.295372e+06
...         ...      ...   ...    ...           ...
3482 2021-03-25       59  5276  63791  8.792675e+06
3483 2021-03-25       69  3597  43371  8.004083e+06
3484 2021-03-25       79  1756  23915  5.695639e+06
3485 2021-03-25       89   920  14507  3.245281e+06
3486 2021-03-25       90   370   7886  9.125806e+05

[3487 rows x 5 columns]

In [4]:
fname = 'sp-pos-quot-dep-2021-03-28-19h20.csv'
fname = fname[:-4] + '-nat.csv'
dg.to_csv(fname, sep = ';', index = False)